.plates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-container {
  background: white;
  border: 1px solid #70707026;
  box-shadow: 5px 5px 10px 2px rgba(192, 192, 192, 0.5);
  border-radius: 15px;
  padding: 1rem;
  width: 73rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s ease-in-out;
}

//search bar
.search-container {
  padding: 1rem 0;
  display: flex;
  gap: 0.4rem;
  height: 2.5rem;
  position: relative;
  width: 100%;

  .search {
    padding: 0.3rem 0rem 0.3rem 1.6rem;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #c8cfd8;
    flex: 4;
    transition: 1s ease-in-out;
  }

  .search::placeholder {
    font-family: "Roboto", sans-serif;
    color: #c8cfd8;
  }

  .search-icon {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    flex: 1;
  }
  .clear-search {
    position: absolute;
    background: none;
    border: none;
    font-size: 1.5rem;
    top: 30%;
    right: 16%;
    transition: 1s ease-in-out;
    cursor: pointer;
  }

  .clear-search:hover {
    color: var(--purple);
  }

  .search-button {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 0.3rem 4rem;
    background-color: #12243e;
    color: white;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }

  .search-button:hover {
    background: #244d90;
    border: 2px solid transparent;
  }
}

//cards
.plates {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

//pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;
  margin-top: 1.5rem;
}

.pagination-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  border: 1.5px solid transparent;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-icon:hover {
  border: 1.5px solid var(--purple);
}

.pagination-number {
  background: white;
  border: 1.5px solid #c8cfd8;
  border-radius: 50%;
  padding: 5px 10px;
}

.pagination-number:hover {
  border: 1.5px solid var(--purple);
}

.active {
  background: #12243e;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
}

@media (max-width: 1260px) {
  .filter-container {
    width: 50rem;
  }

  .plates {
    grid-template-columns: repeat(3, 1fr);
  }

  .clear-search {
    right: 23% !important;
  }
}

@media (max-width: 970px) {
  .filter-container {
    width: 28rem;
    font-size: 0.9rem !important;
  }

  .search-button {
    padding: 0.3rem 2rem !important;
  }

  .plates {
    grid-template-columns: repeat(2, 1fr);
  }

  .clear-search {
    right: 27% !important;
  }
}

@media (max-width: 665px) {
  .filter-container {
    width: 22rem;
    font-size: 0.7rem !important;
  }

  .search {
    font-size: 0.8rem;
  }

  .search-button {
    padding: 0.3rem 1rem !important;
    font-size: 0.8rem;
  }
}
