.state-filter {
  button {
    border: none;
    background: none;
  }

  .state-options {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    .states {
      padding: 0.2rem 1.5rem;
      border-radius: 20px;
      border: 2px solid #c8cfd8;
      cursor: pointer;
    }

    .states:hover {
      border: 2px solid var(--purple);
      color: var(--purple);
    }

    .selected {
      border: 2px solid transparent;
      background: var(--purple);
      color: white;
      padding: 0.2rem 1.5rem;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}
