:root {
  font-family: "Roboto-Medium", "Roboto", "Roboto-Bold", sans-serif;

  --purple: #625ef6;
  background: #f9fafb;
}

* {
  margin: 0;

  ::selection {
    color: white;
    background-color: var(--purple);
  }
}

.scrollToTop {
  border-radius: 50% !important;
  bottom: 10px !important;
  right: 10px !important;
  transition: 0.2s ease-in-out;
  height: 25px !important;
  width: 25px !important;
}

.scrollToTop:hover {
  background-color: var(--purple);
}
